{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Comments for "{{post.subject}}"</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="separator">
        </div>
    </div>
    {% for c in comments %}
        <div class="row">
            <div class="col-sm-12">                            
                <div class="well well-sm">
                    <strong>{{c.username}}: </strong> {{c.content}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}