
<div class="post row">
    <div class="post-heading">
        <div class="post-title">
            <h4>Subject:
            <strong>{{p.subject}}</strong></h3>
        </div>
    </div><!--post-heading-->

    <div class="post-content well well-sm big">
        {{p._render_text | safe}}
    </div>

    <div class="row">
    <div class="small">
        {% if user %}
            <form method="post">
                
                <div class="edit-delete col-sm-6"> <a href="/edit?postid={{post_id}}">Edit</a> <a href="/delete">Delete</a> {{post_id}} </div>
                <div class="post-date col-sm-6">{{p.created.strftime("%B %d, %Y at %I:%M %p UTC by ")}}<strong>{{p.creator_name}}</strong></div>
        {% else %}
            <div class=col-sm-6></div>
            <div class="post-date col-sm-6">{{p.created.strftime("%B %d, %Y at %I:%M %p UTC by ")}}<strong>{{p.creator_name}}</strong></div>
        {% endif %}
    </div>
    </div>
</div><!--post row-->
